@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: #0a0a0a;
  color: #f3f4f6;
}

/* Used in the LoadingScreen component */
@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1; /* At the start (0%) and end (100%) of the animation cycle, the element’s opacity is 1 (fully visible). */
    }
    50% {
      opacity: 0; /* At the midpoint (50%) of the animation cycle, the element’s opacity is 0 (fully invisible). */
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

/* Used in the LoadingScreen component */
@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0; /* not visible */
  transform: translateY(20px);  /* the elements will be translated (move downward by 20px) because of the class .revela added to their div*/
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0); /* when the .visible class is added to it, it will translate(move upward to the original position 0px) when the .visible class is added to it when it/the referenced div enters the viewport or 20% of the referenced div enters the viewport because of the 0.2 threshold*/
}
